.menu {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	
	background: #3a91fa;
	background: rgba(58,145,250,0.9);
	background: linear-gradient( to bottom, rgba(58,145,250,0.8) 50px, rgba(58,145,250,0) );
	
	pointer-events:none;
	
}
.article .menu {
	background: #b7162c;
	background: rgba( 183, 22, 44, .8 );
	background: linear-gradient( to bottom, rgba( 183, 22, 44, .8 ) 50px, rgba( 183, 22, 44, 0 ) );
}

.menuspacer {
	position:relative;
	
	width: 60%;
	min-width: 300px;
	max-width: 700px;
	height: 50px;
	margin: 0 auto;
	
}

.menutoggle {
	height: 44px;
	width: 44px;
	margin: 3px;
	opacity: .8;
	
	transition: background-position .2s;
	
	background: 50% 0% no-repeat url('../images/burger-menu.svg');
	background-size: 44px 88px;
	
	pointer-events:auto;
	
}
.menutoggle--open {
	background-position: 50% 100%;
}

.menudropdown {
	position: absolute;
	top: 47px;
	left: 0;

	width: 100%;
	max-height: 0;

	background: white;
	overflow: hidden;

	border-radius: 2px;
	box-shadow: 0 3px 5px rgb( 29, 73, 200 );
	
	pointer-events:auto;
	
	transition: max-height .2s;
	transition: padding .2s, max-height .2s;
}
.menudropdown:before,
.menudropdown:after {
	content: ' ';
	display: table;
	clear: both;
}
.home .menudropdown {
	box-shadow: 0 3px 5px rgb( 29, 73, 200 );

}
.article .menudropdown {
	box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );

}
.menudropdown--open {
	padding: 10px 0;
	max-height: 600px;

}

.menuoptions {
	float: left;
	width: 45%;

}
.menuoptions .menuoption {
	text-align: right;

}

.menuoption {
	display: block;
	
	padding: 5px 20px;
	
	transition: background-image .2s;

}
.article .menuoption {
	color: #b7162c;
	
}
.home .menusuboptions .menuoption:hover,
.home .menuoption--open {
	background-image: linear-gradient( to left, rgba(58,145,250, .2), rgba(58,145,250, .05) );
	
}
.article .menusuboptions .menuoption:hover,
.article .menuoption--open {
	background-image: linear-gradient( to left, rgba(183, 22, 44, .2), rgba(183, 22, 44, .05) );
	
}
.menusuboptions .menuoption {
	line-height: 1.1;
}
.menusuboptions .menuoption {
	color: #919191;
	font-size: 16px;
}


.menusuboptions {
	float: right;
	width: 55%;
	font-style: italic;
}
.menusuboptions .menuoption {
	text-align: left
	
}



.menusuboptionset {
	display: none;
}
.menusuboptionset--open {
	display: block;
}