/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  min-height: 100%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

cite {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, button {
  background: none;
  padding: 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit; }

/* Home page */
.para-menu {
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  opacity: .7;
  line-height: 1.4; }
.para-menu2 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #bfbfbf;
  line-height: 1.4; }
.para-indexBanner {
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-size: 40px;
  font-style: italic;
  text-align: center;
  color: #FFFFFF;
  line-height: 1.4;
  margin-top: 60px; }
.para-headlineA {
  font-family: 'Arapey', serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #fcff42;
  line-height: 1.4;
  padding-top: 50px; }
.para-subA {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #FFFFFF;
  line-height: 1.4;
  padding-bottom: 15px; }
.para-subAB {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  line-height: 1.4; }
.para-primaryLink {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #3a91fa;
  line-height: 1.4; }
.para-pullquoteA {
  font-family: 'Arapey', serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
  line-height: 1.4; }
.para-pullquoteB {
  font-family: 'Exo 2', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
  line-height: 1.4;
  margin: 0px auto; }
.para-creditB {
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  line-height: 1.4;
  opacity: .7;
  margin-top: 19px; }
.para-introA {
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 30px;
  text-align: left;
  color: #2f2b57;
  line-height: 1.4;
  margin-top: 40px; }
.para-subheadA {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-align: left;
  color: #b7162c;
  line-height: 1.2;
  margin-top: 20px; }
.para-subheadAA {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 10px;
  text-align: left;
  color: #b7162c;
  line-height: 1.4;
  margin-top: 20px;
  margin-bottom: 25px;
  letter-spacing: 10px; }
.para-subheadAB {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 10px;
  text-align: left;
  color: #626262;
  line-height: 1.4;
  margin-top: 26px;
  margin-bottom: 25px;
  letter-spacing: 10px; }
.para-subheadB {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 22px;
  text-align: left;
  color: #2f2b57;
  line-height: 1.4;
  margin-top: 20px;
  margin-bottom: -16px; }
.para-subheadC {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 22px;
  text-align: left;
  color: #2f2b57;
  line-height: 1.2;
  margin-top: 30px; }
.para .para-subheadC + .para-bodyA {
  margin-top: 0; }
.para-subheadD {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 22px;
  text-align: left;
  color: #2f2b57;
  line-height: 1.4;
  margin-top: 30px;
  margin-bottom: 5px; }
.para-bodyA {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: left;
  color: #626262;
  line-height: 1.4;
  margin-top: 10px; }
.para-bodyAsmaller {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  text-align: left;
  color: #626262;
  line-height: 1.4;
  margin-top: 20px; }
.para-bodyAB {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  text-align: left;
  color: #b7162c;
  line-height: 1.4;
  margin-top: 20px; }
.para-bodyAA {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: left;
  color: #626262;
  line-height: 1.4;
  margin-top: 5px; }
.para-body-indentA {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: left;
  color: #626262;
  line-height: 1.4;
  margin-top: 20px;
  padding-left: 22px;
  text-indent: -22px; }
.para-bodyQ {
  font-family: 'Arapey', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 26px;
  text-align: left;
  color: #2f2b57;
  line-height: 1.2;
  margin-top: 20px; }
.para-bodyC {
  font-family: 'Arapey', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  text-align: left;
  color: #2f2b57;
  line-height: 1.4;
  margin-top: 4px;
  opacity: .5; }
.para-bodyB {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  text-align: left;
  color: #373737;
  line-height: 1.4;
  margin-top: 20px;
  margin-bottom: -14px; }
.para-bodyD {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-align: left;
  color: #990000;
  line-height: 1.4;
  margin-top: 20px;
  margin-bottom: -14px; }
.para-contactNameA {
  font-family: 'Arapey', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  text-align: left;
  color: #2f2b57;
  line-height: 1.4;
  margin-top: 30px;
  margin-bottom: 0px; }
.para-contactBodyA {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: left;
  color: #626262;
  line-height: 1.6;
  margin-top: 5px; }
.para-contactNameB {
  font-family: 'Arapey', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  letter-spacing: .5px;
  text-align: left;
  color: #777777;
  line-height: 1.6;
  margin-top: 0; }
.para-bodyitalic {
  font-family: 'Arapey', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 19px;
  letter-spacing: .5px;
  text-align: left;
  color: #777777;
  line-height: 1.4;
  margin-top: 0; }
.para-QuoteCred {
  font-family: 'Arapey', serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: .5px;
  text-align: left;
  color: #777777;
  line-height: 2.6;
  margin-top: 2; }

/*	Content */
.article a {
  color: #b7162c; }

.article a:hover {
  text-decoration: underline; }

/* Things */
.divider {
  display: inline-block;
  padding: 0 10px; }

@media all and (max-width: 700px) {
  .para-indexBanner {
    font-size: 30px;
    margin-top: 40px; } }
@media all and (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .para-creditB {
    font-weight: 200; } }
/* buttons */
.btn-btn {
  display: block;
  background-color: #fcff42;
  padding: 5px 15px;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 350px;
  transition: all .2s; }

.btn-btn:hover {
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.5); }

/* images */
.img-hero {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 20px; }

.img-x1Logo {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 1px;
  max-width: 500px; }

.img-facebook {
  display: block;
  width: 40px;
  margin: 0 auto;
  margin-bottom: 40px; }

.img-instagram {
  display: block;
  width: 43px;
  margin: 0 auto;
  margin-bottom: 40px; }

.img-dingbat-a {
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 25px;
  max-width: 300px; }

.img-dingbat-b {
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 25px;
  max-width: 300px; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%; }

/* Article page */
.article {
  width: 70%;
  min-width: 300px;
  max-width: 700px;
  padding: 10px;
  padding-top: 70px;
  padding-bottom: 50px;
  margin: 0 auto;
  padding-right: 10%; }

/* home page */
.home {
  height: 100%;
  padding: 10px;
  padding-top: 100px;
  background-color: #3a91fa; }

.homeInner {
  width: 70%;
  min-width: 280px;
  max-width: 700px;
  margin: 0 auto; }

.menu {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: #3a91fa;
  background: rgba(58, 145, 250, 0.9);
  background: linear-gradient(to bottom, rgba(58, 145, 250, 0.8) 50px, rgba(58, 145, 250, 0));
  pointer-events: none; }

.article .menu {
  background: #b7162c;
  background: rgba(183, 22, 44, 0.8);
  background: linear-gradient(to bottom, rgba(183, 22, 44, 0.8) 50px, rgba(183, 22, 44, 0)); }

.menuspacer {
  position: relative;
  width: 60%;
  min-width: 300px;
  max-width: 700px;
  height: 50px;
  margin: 0 auto; }

.menutoggle {
  height: 44px;
  width: 44px;
  margin: 3px;
  opacity: .8;
  transition: background-position .2s;
  background: 50% 0% no-repeat url("../images/burger-menu.svg");
  background-size: 44px 88px;
  pointer-events: auto; }

.menutoggle--open {
  background-position: 50% 100%; }

.menudropdown {
  position: absolute;
  top: 47px;
  left: 0;
  width: 100%;
  max-height: 0;
  background: white;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 3px 5px #1d49c8;
  pointer-events: auto;
  transition: max-height .2s;
  transition: padding .2s, max-height .2s; }

.menudropdown:before,
.menudropdown:after {
  content: ' ';
  display: table;
  clear: both; }

.home .menudropdown {
  box-shadow: 0 3px 5px #1d49c8; }

.article .menudropdown {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); }

.menudropdown--open {
  padding: 10px 0;
  max-height: 600px; }

.menuoptions {
  float: left;
  width: 45%; }

.menuoptions .menuoption {
  text-align: right; }

.menuoption {
  display: block;
  padding: 5px 20px;
  transition: background-image .2s; }

.article .menuoption {
  color: #b7162c; }

.home .menusuboptions .menuoption:hover,
.home .menuoption--open {
  background-image: linear-gradient(to left, rgba(58, 145, 250, 0.2), rgba(58, 145, 250, 0.05)); }

.article .menusuboptions .menuoption:hover,
.article .menuoption--open {
  background-image: linear-gradient(to left, rgba(183, 22, 44, 0.2), rgba(183, 22, 44, 0.05)); }

.menusuboptions .menuoption {
  line-height: 1.1; }

.menusuboptions .menuoption {
  color: #919191;
  font-size: 16px; }

.menusuboptions {
  float: right;
  width: 55%;
  font-style: italic; }

.menusuboptions .menuoption {
  text-align: left; }

.menusuboptionset {
  display: none; }

.menusuboptionset--open {
  display: block; }

.kern-Pi {
  letter-spacing: .04em; }
